<div class="mo">
  <div class="row edit-row col-12 mt-5 bg-dark mb-5" style="align-items: center;">
    <div class="col-md-3">
      <img [src]="oneProduct.images[1]" class="img-fluid rounded-start" alt="..." />
    </div>
    <div class="col-md-5">
      <div class="card-body edit-card d-flex" style="flex-direction: column; justify-content: center;">
        <p class="card-text" style="color: white; font-size: 10px; font-family:  Lobster Two, sans-serif;">
          <small class="m" style="font-size: 20px; font-family:  Lobster Two, sans-serif;">{{oneProduct.description}}</small>
        </p>
        <h5 class="card-title"></h5>
        <p class="card-text text-shadow" style="color: white; font-size: 20px; text-decoration: brand; font-family:  Lobster Two, sans-serif;">
brand : {{oneProduct.brand}}
        </p>
        <p class="card-text" style="color: white; font-size: 20px; font-family:  Lobster Two, sans-serif;">
       price :  {{oneProduct.price}}
        </p>
      </div>
    </div>
  </div>
</div>
